<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.mapper.BasAreaMapper">
  <resultMap id="BaseResultMap" type="com.xb.model.BasArea">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="COUNTY" jdbcType="VARCHAR" property="county" />
    <result column="POSTALCODE" jdbcType="NUMERIC" property="postalcode" />
    <result column="SIMPLECODE" jdbcType="VARCHAR" property="simplecode" />
    <result column="CITYCODE" jdbcType="NUMERIC" property="citycode" />
    <result column="ENTRYUNITID" jdbcType="VARCHAR" property="entryunitid" />
    <result column="COMPLEMENTUNITID" jdbcType="VARCHAR" property="complementunitid" />
    <result column="NATURE" jdbcType="NUMERIC" property="nature" />
    <result column="THEAREA" jdbcType="NUMERIC" property="thearea" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROVINCE, CITY, COUNTY, POSTALCODE, SIMPLECODE, CITYCODE, ENTRYUNITID, COMPLEMENTUNITID, 
    NATURE, THEAREA
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BAS_AREA
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from BAS_AREA
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.xb.model.BasArea">
    insert into BAS_AREA (ID, PROVINCE, CITY, 
      COUNTY, POSTALCODE, SIMPLECODE, 
      CITYCODE, ENTRYUNITID, COMPLEMENTUNITID, 
      NATURE, THEAREA)
    values (#{id,jdbcType=NUMERIC}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{postalcode,jdbcType=NUMERIC}, #{simplecode,jdbcType=VARCHAR}, 
      #{citycode,jdbcType=NUMERIC}, #{entryunitid,jdbcType=VARCHAR}, #{complementunitid,jdbcType=VARCHAR}, 
      #{nature,jdbcType=NUMERIC}, #{thearea,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.xb.model.BasArea">
    insert into BAS_AREA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="county != null">
        COUNTY,
      </if>
      <if test="postalcode != null">
        POSTALCODE,
      </if>
      <if test="simplecode != null">
        SIMPLECODE,
      </if>
      <if test="citycode != null">
        CITYCODE,
      </if>
      <if test="entryunitid != null">
        ENTRYUNITID,
      </if>
      <if test="complementunitid != null">
        COMPLEMENTUNITID,
      </if>
      <if test="nature != null">
        NATURE,
      </if>
      <if test="thearea != null">
        THEAREA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        #{postalcode,jdbcType=NUMERIC},
      </if>
      <if test="simplecode != null">
        #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        #{citycode,jdbcType=NUMERIC},
      </if>
      <if test="entryunitid != null">
        #{entryunitid,jdbcType=VARCHAR},
      </if>
      <if test="complementunitid != null">
        #{complementunitid,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        #{nature,jdbcType=NUMERIC},
      </if>
      <if test="thearea != null">
        #{thearea,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xb.model.BasArea">
    update BAS_AREA
    <set>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        COUNTY = #{county,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        POSTALCODE = #{postalcode,jdbcType=NUMERIC},
      </if>
      <if test="simplecode != null">
        SIMPLECODE = #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        CITYCODE = #{citycode,jdbcType=NUMERIC},
      </if>
      <if test="entryunitid != null">
        ENTRYUNITID = #{entryunitid,jdbcType=VARCHAR},
      </if>
      <if test="complementunitid != null">
        COMPLEMENTUNITID = #{complementunitid,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        NATURE = #{nature,jdbcType=NUMERIC},
      </if>
      <if test="thearea != null">
        THEAREA = #{thearea,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xb.model.BasArea">
    update BAS_AREA
    set PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      COUNTY = #{county,jdbcType=VARCHAR},
      POSTALCODE = #{postalcode,jdbcType=NUMERIC},
      SIMPLECODE = #{simplecode,jdbcType=VARCHAR},
      CITYCODE = #{citycode,jdbcType=NUMERIC},
      ENTRYUNITID = #{entryunitid,jdbcType=VARCHAR},
      COMPLEMENTUNITID = #{complementunitid,jdbcType=VARCHAR},
      NATURE = #{nature,jdbcType=NUMERIC},
      THEAREA = #{thearea,jdbcType=NUMERIC}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>